<html>
	<head>
		<title>Painter</title>
		<link rel="stylesheet" type="text/css" href="../dist/joint.ui.dialog.min.css">
		<link rel="stylesheet" type="text/css" href="../dist/joint.ui.flashMessage.min.css">
		<link rel="stylesheet" type="text/css" href="../dist/joint.ui.toolbar.min.css">
		<link rel="stylesheet" href="../../build/rappid.min.css" />
		<link rel="stylesheet" href="style/style.css" />
		</style>
		
	</head>
	

	<body>
		
		<div class="head"></div>

		<div class="left">
			<input type="radio" name="shape" id="machine" value="machine" checked>machine<br>
			<input type="radio" name="shape" id="problemDomain" value="problemDomain">problem domain<br>
			<input type="radio" name="shape" id="requirement" value="requirement">requirement<br>
		</div>

		<div class="middle">
			<div id="myholder"></div>
		</div>

		<div class="right">
			<table id="vue_phenomenon">
				<!--这个table是添加phenomenon的操作，看看能不能搞一个按钮叫add phenomenon之类的...-->
				<tr>
					<td>Initiator</td>
					<td>Reciever</td>
					<td>Content</td>
				</tr>
				<tr v-for="item in items">
					<td>{{item.initiator}}</td>
					<td>{{item.reciever}}</td>
					<td>{{item.content}}</td>
				</tr>
			</table>
			<div id="selector">
				<select v-model="initiator">
					<option v-for="option in options">{{option}}</option>
				</select>
				<select v-model="reciever">
					<option v-for="option in options">{{option}}</option>
				</select>
				<input v-model="content">
				<button onclick="updatePhenomenon()"> add </button>
			</div>
			<div class="elementEditor"></div>
			<div class="linkEditor"></div>
			<!--这个是双击元素的时候出来的编辑框，看看能不能搞成弹窗...-->

		</div>
		
		
		
		<script src="../node_modules/jquery/dist/jquery.js"></script>
		<script src="../node_modules/lodash/lodash.js"></script>
		<script src="../node_modules/backbone/backbone.js"></script>
		<script src="../node_modules/graphlib/dist/graphlib.core.js"></script>
		<script src="../node_modules/dagre/dist/dagre.core.js"></script>
		
		<script src="scripts/joint.js"></script>
		<script src="scripts/vue.js"></script>
		<script src="scripts/data.js"></script>
		<script src="scripts/draw.js"></script>
		<script src="scripts/events.js"></script>
		<script src="scripts/presentation.js"></script>

		<script src="../../build/rappid.min.js"></script>
		
		<script src="../dist/joint.ui.dialog.min.js"></script>
		<script src="../dist/joint.ui.flashMessage.min.js"></script>
		<script src="../dist/joint.ui.toolbar.min.js"></script>
		<script>
			joint.setTheme('material');
		</script>
		
		
	</body>

</html>